.Meal {
  border-bottom: 1px #f2f2f2 solid;
  display: flex;
  align-items: center;
  padding: 40rem 30rem;
  color: black;
  font-size: 16px; /* 明确设置字体大小 */
}
.ImgBox {
  width: 250rem;
}

img {
  width: 100%;
}

.DescBox {
  padding: 0 20rem;
  flex: auto;
}
.title {
  font-weight: normal;
  font-size: 40rem;
  margin: 0;
}
.desc {
  color: #aaa;
}
.PriceWrapper {
  margin-top: 40rem;
  display: flex;
  justify-content: space-between;
}
.price {
  font-weight: bold;
  font-size: 36rem;
}
.price::before {
  content: "¥ ";
  font-size: 24rem;
  font-weight: normal;
}
